* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

a{
    color: white;
}

#navbar-responsive{
    margin-left: ;
    position: ;
}

.bsolute{
    position: absolute;
    right: 30px;
    top: 30px;
    display: g;
    flex-direction: ;

}

.owl-prev{
    position: absolute;
    top: -60px;
    right: 90px;
    width: 40px;
    height: 40px;
    border: red 1px solid !important;
    border-radius: 6px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}


.owl-next{
    position: absolute;
    top: -60px;
    right: 30px;
    width: 40px;
    height: 40px;
    border: red 1px solid !important;
    border-radius: 6px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.owl-nav{
    display: flex !important;
}

.img-1,
.img-2 {
  fill: red;
  width: 40px; /* при необходимости */
  height: 40px;
}

.img-1,
.img-2 {
  filter: hue-rotate(0deg) saturate(10) brightness(1.2);
}

.img-1,
.img-2 {
  filter: invert(17%) sepia(96%) saturate(7454%) hue-rotate(358deg) brightness(100%) contrast(115%);
}
